.todo-list {
  width: 480px;
  margin: 0 auto;
}

.login-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  height: 100vh;
}

.login-form {
  width: 300px;
}

ul {
  list-style-type: none;
  padding: 0;
}
